.guide {
	font-size: "30px";
}
#shortcut {
	padding-left: 10px;
    border-radius: 10px;
    position: relative;
    user-select: none;
    font-size: 2em;
    width: 100px;
    color: rgba(245, 222, 16, 0.195);
    background-color: #FD7013;
	z-index: 22	;
}
.RFactor {
    font-size: 21px!important;
    margin-right: 10px;
    margin-left: 30px;
}
.myButton {
	border-radius:6px;
	border:0.4px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:16px;
	font-weight:Normal;
	padding:10px 26px;
	text-decoration:none;
	text-align: center;
	width: 90px;
	height: 28px;
}
.myButton:hover {
	border:0.4px solid  #270f32;
	background: #f6fff8;
	color: #270f32;
	background-color: #f0ffee!important;
}
.myButton:active {
	position:relative;
	top:1px;
}
.but1 {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff!important;
	color:#666666;
	text-shadow:0px 1px 0px #ffffff;	
    margin-left: 40px;
}
.but1_on {
	box-shadow:inset 0px 1px 0px 0px #ABD0B3;
	background: #ABD0B3;
	background-color: #ABD0B3!important;
	color:#202020;
	font-family:Arial;
	font-size:19px;
	width:120%;
	height: 34px;
	text-shadow:0px 1px 0px #ffffff;
	text-align: center;

}

.but2_on {
	box-shadow:inset 0px 1px 0px 0px #ad1919;
	background: #C92323!important;
	background-color:#C92323!important;
	color:#ffd2d2;
	font-family:Arial;
	font-size:19px;
	width: 120%;
	height: 34px;
	text-shadow:0px 1px 0px #C0C0C0;
	text-align: center;
}